.images1, .images2 {
    background: grey;
    /* height: 25vh;
    width: 1/6vw; */
    /* border: solid 1px white; */
    /* display: in-line; */
}

.tileImages {
    /* max-width: 1/3vw;
    max-height: 50vh; */
    max-width: 100%;
    max-height: 100%;
}
/* .images1:hover {
    grid-row: span 2;
    grid-column: span 2;
} */

.hovered {
    background: red;
    animation-name: grow;
    animation-duration: 2s;
    width: 2/6vw;
    height: 50vh;
    /* transition: width 1s, height 1s; */
}

@keyframes grow {
    0% {width: 1/6vw; height: 25vh; z-index: 1;}
    50% {width: 7/12vw; height: 60vh; z-index: 1;}
    100% {width: 2/6vw; height: 50vh; z-index: 1;}
}

@keyframes moveBack {
    0% {z-index: 0;}
    50% {z-index: 0;}
    100% {z-index: 0;}
}

/* Maybe not needed */
.notHovered {
    z-index: 0;
    height: 25vh;
    width: 1/6vw;
    transition: width 1s, height 1s;
    animation-name: moveBack;
    animation-duration: 2s;
    /* border: solid 1px white; */
}